/* Labels */
mainLabel

secondaryLabel


/* Main window buttons */
navButton

latestSeriesButton

newSeriesButton



/* Series anagement buttons */
addButton

removeButton

modifyButton

settingsButton

restartButton