/* Labels */
mainLabel

secondaryLabel


/* Main window buttons */
navButton

latestSeriesButton

newSeriesButton



/* Series management buttons */
addButton

removeButton

modifyButton

settingsButton

defaultButton

printButton

restartButton